<ion-view>
  <ion-content scroll="false">
    <div class="login-container column-seperation error-body" horizontal layout center>
      <div style="width: 100%">
        <div class="col-md-5 col-md-offset-1">
          <h2>Sign in to Easy Restaurant</h2>
          <p>Use Facebook, Twitter or your email to sign in.<br>
            <a >Sign up Now!</a> for a Easy Restaurant account,It's free and always will be..</p>
          <br>

          <button class="btn btn-block btn-info col-md-8" type="button" ng-click="loginFacebook()">
            <span class="pull-left"><i class="icon-facebook"></i></span>
            <span class="bold">Login with Facebook</span> </button>
          <button class="btn btn-block btn-success col-md-8" type="button" ng-click="loginGoogle()">
            <span class="pull-left"><i class="icon-twitter"></i></span>
            <span class="bold">Login with Google</span>
          </button>
        </div>
        <div class="col-md-5 ">
          <form id="login-form" class="login-form" ng-submit="login()">
            <div class="row">
              <div class="form-group col-md-10">
                <label class="form-label">Username</label>
                <div class="controls">
                  <div class="input-with-icon  right">
                    <i class=""></i>
                    <input type="email" name="txtusername" id="txtusername" class="form-control" ng-model="user.email">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-10">
                <label class="form-label">Password</label>
                <span class="help"></span>
                <div class="controls">
                  <div class="input-with-icon  right">
                    <i class=""></i>
                    <input type="password" name="txtpassword" id="txtpassword" class="form-control" ng-model="user.password">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="control-group  col-md-10">
                <div class="checkbox checkbox check-success"> <a>Trouble login in?</a>&nbsp;&nbsp;
                  <input type="checkbox" id="checkbox1" value="1">
                  <label for="checkbox1">Keep me reminded </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <button class="btn btn-primary btn-cons pull-right" type="submit" ng-class="{disabled: !user.email || !user.password}">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>